<!-- Background image -->

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="./assets/img/Delicious-Japanese-food-sushi-sauce_3840x1200.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="./assets/img/Fast-food-burgers-beer-bottle-meal_3840x1200.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="./assets/img/Meat-spices-wine-food_3840x1200.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<!-- Background image -->



<!-- Sección Contenido de la pagina -->
<!-- Linea separadora entre contenedores -->
<div class="container-fluid" style="width: 90%;">
    <br>
    <hr style="color: black;">
    <br>
</div>
<!-- Linea separadora entre contenedores -->

<!-- Contenido de servicios -->

<div class="container container-web-page">
    <h3 class="text-center text-uppercase poppins-regular font-weight-bold">Nuestros servicios</h3>
    <br>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <p class="text-center"><i class="fas fa-shipping-fast fa-5x"></i></p>
            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Envíos a domicilio</h5>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus
                modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat
                quod, maxime ad accusamus quisquam.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <p class="text-center"><i class="fas fa-utensils fa-5x"></i></p>
            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Ventas al por mayor</h5>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus
                modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat
                quod, maxime ad accusamus quisquam.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <p class="text-center"><i class="fas fa-store-alt fa-5x"></i></p>
            <h5 class="text-center text-uppercase poppins-regular font-weight-bold">Reservaciones de local</h5>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ad possimus
                modi repellendus? Expedita, vitae rerum at aliquam eligendi soluta veniam ut dolor facere fugiat
                quod, maxime ad accusamus quisquam.</p>
        </div>
    </div>
</div>


<!-- Linea separadora entre contenedores -->
<div class="container-fluid" style="width: 90%;">
    <br>
    <hr style="color: black;">
    <br>
</div>
<!-- Linea separadora entre contenedores -->

<div class="container-fluid" style="width: 85%;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card hover-shadow">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card hover-shadow">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
                    alt="Palm Springs Road" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card hover-shadow">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
                    alt="Los Angeles Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card hover-shadow">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
                    alt="Skyscrapers" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid"></div>
    <center>
        <button type="submit" class="btn btn-warning btn-rounded fs-5" style="width: 45%; height: auto;" onclick="location.href='/app/menu'">Ir al
            menu</button>
    </center>
</div>
</div>

<!-- Linea separadora entre contenedores -->
<div class="container-fluid" style="width: 90%;">
    <br>
    <hr style="color: black;">
    <br>
</div>
<!-- Linea separadora entre contenedores -->

<!-- Crear cuenta -->
<div class="container-fluid" style="width: 90%;">
    <center>
        <div class="card mb-3 text-center hover-shadow" style="max-width: 65%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
                        <img src="./assets/img/crearCuenta.jpg" class="w-100" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(72, 73, 73, 0.068)"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <br><br><br>
                        <h5 class="card-title">Crear cuenta</h5>
                        <p class="card-text">Crea tu cuenta para poder realizar pedidos de platillos hasta la puerta
                            de tu casa, es muy fácil y rápido</p>
                    </div>
                    <button type="submit" class="btn btn-success btn-rounded fs-6"
                        style="width: 200px; height: 50px;"  data-toggle="modal" data-target="#modalLoginForm">Registrarse</button>
                </div>
            </div>
        </div>
    </center>
</div>

<!-- Crear cuenta -->


<!-- Sección Contenido de la pagina -->