  
  {{!-- Header --}}
  <div class="p-5 text-center bg-image" style=" background-image: url('/assets/img/menu.jpg'); height: 400px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Menu</h1>
          <h4 class="mb-3">Podras elegir entre una gran variedad de platillos, que satisfaceran tus exigentes gustos</h4>
        </div>
      </div>
    </div>
  </div>

  

<!-- Linea separadora entre contenedores -->
<div class="container-fluid" style="width: 90%;">
    <br>
    <hr style="color: black;">
    <br>
</div>
<!-- Linea separadora entre contenedores -->  

<div class="container-fluid" style="width: 85%;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card hover-shadow">
                <img src="https://assets.kraftfoods.com/recipe_images/opendeploy/91522_640x428.jpg" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title">Lasaña</h5>
                    <div class="product-add-to-cart">
                        <span class="control-label">Cantidad</span>

                        
                        <div class="product-quantity clearfix">
                            <div class="qty">
                            
                            </div>

                            <div class="add">
                            <button class="btn btn-primary add-to-cart" data-button-action="add-to-cart" type="submit" data-toggle="modal" data-target="#myModal">                                
                                <i class="fa-solid fa-cart-shopping"></i>
                                Añadir al carrito
                            </button>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card hover-shadow">
                <img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2018/06/receta-higado-encebollado.jpg" class="card-img-top"
                    alt="Palm Springs Road" />
                <div class="card-body">
                    <h5 class="card-title">Higado encebollado</h5>
                    <div class="product-add-to-cart">
                        <span class="control-label">Cantidad</span>

                        
                        <div class="product-quantity clearfix">
                            <div class="qty">
                            
                            </div>

                            <div class="add">
                            <button class="btn btn-primary add-to-cart" data-button-action="add-to-cart" type="submit" data-toggle="modal" data-target="#myModal">                                
                                <i class="fa-solid fa-cart-shopping"></i>
                                Añadir al carrito
                            </button>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>        
    </div> 

<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title h6 text-sm-center" id="myModalLabel"><i class="fa-solid fa-circle-check"></i>Producto añadido correctamente a su carrito de compra</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          
          <div class="col-md-7">
            <div class="cart-content">
                              <p class="cart-products-count">Hay 3 artículos en su carrito.</p>
                            <p><strong>Total de productos:</strong>&nbsp;5,760&nbsp;HNL</p>
              <p><strong>Envío total:</strong>&nbsp;Gratis </p>
                            <p><strong>Total:</strong>&nbsp;5,760&nbsp;HNL (impuestos inc.)</p>
              <div class="cart-content-btn">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuar comprando</button>
                <a href="" class="btn btn-primary"><i class="fa-solid fa-check"></i>Pasar por caja</a>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

</div>

<!-- Linea separadora entre contenedores -->
<div class="container-fluid" style="width: 90%;">
    <br>
    <hr style="color: black;">
    <br>
</div>
<!-- Linea separadora entre contenedores -->

