  
  {{!-- Header --}}
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('/assets/img/menu.jpg');
      height: 400px;"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Menu</h1>
          <h4 class="mb-3">Podras elegir entre una gran variedad de platillos</h4>
        </div>
      </div>
    </div>
  </div>




<div class="container-fluid">

</div>

