<!-- Header -->
<header>
    <!-- MENU NAVBAR -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid" style="width: 93%;">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/app">
                    <img src="/assets/img/logo.png" height="75" alt="MDB Logo" loading="lazy" />
                </a>
                <!-- links izquierdos -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/app">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/about">Sobre Nosotros</a>
                    </li>
                </ul>
                <!-- links izquierdos -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- elementos derechos -->
            <div class="d-flex align-items-center">
                <!-- carrito -->
                <a class="text-reset me-3" href="#">
                    <i class="fas fa-shopping-cart fs-4"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>

                <!-- Perfil de usuario -->
                <div class="dropstart">
                    <a class="dropstart-toggle d-flex align-items-center hidden-arrow text-reset me-3" href="#"
                        id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fs-4"></i>
                        <span class="badge rounded-pill badge-notification bg-danger"></span>
                
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="#">Mi Perfil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Configuración</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- MENU NAVBAR -->
</header>